{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
<h1> Disease details</h1>
<form method="post" >
  {% csrf_token %}
  {% comment %} <button type="submit" name="follow" value="hi">Download</button> {% endcomment %}
  <button class="titlebutton formbtn btn btn-md" name="follow" value="unfollow">
    Download images
</button>

<button class="titlebutton formbtn btn btn-md" name="follow" value="follow">
    Download XL file
</button>
</form>
<form method="get" >
  {{myfilter.form}}
  <button type="submit" class=" formbtn btn btn-sm">Search</button>
</form> 

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Diagonised</th>
            <th scope="col">Modality</th>
            <th scope="col">Organ</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
            {%for disease in diseases %}
          <tr>
            <td>{{disease.name}}</td>
            <td>{{disease.diagonised}}</td>
            <td>{{disease.modality}}</td>
            <td>{{disease.organ}}</td>
            <td>{{disease.img}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
 


</div>

{% endblock body %}