{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
  <h1> Patient details</h1>
<div class="row ">
  {% for patient in patients %}
  <div class="col-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">{{patient.first_name}} {{patient.last_name}}</h4>
        <div class="d-flex flex-column">
        <p class=" h6">City: {{patient.city}} </p>
        <p class="h6">Blood Group: {{patient.blood_group}}</p>
        <p class="h6">Hospital: {{patient.hospital}}</p>
        <p class="h6">Phone No: {{patient.phone}}</p>
        <p class="h6">Date of Birth: {{patient.dob}}</p>
        <button class="btn-primary"><a class="nav-link" href="{%url 'show_patient_details' patient.id%}">View</a></button>
        </div>
        
      </div>
    </div>
  </div>
  {%endfor%}
</div>
</div>
  
{% endblock body %}